.header{
    background: #1976d2;
    color:white;
    height:2rem;
    width: 100%;
    text-align: center;
    padding-bottom:38px;
    padding-top:1rem;
    font-weight: 800;
}

.container{
    box-sizing: border-box;
    position: relative;
    padding-top: 8px;
    text-align: center;
}

ul{
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    align-content: space-around;
    align-items: center;
}

li{
    padding:2rem;
    margin-right: 2rem;
}

.card {
    background-color: #fff;
    box-shadow: 0 2px 3px rgba(10,10,10,.1), 0 0 0 1px rgba(10,10,10,.1);
    color: #4a4a4a;
    max-width: 100%;
    position: relative;
    width: 171px;
    margin-right: 97px;
}

.title.is-4 {
    font-size: 12px;
}